<!DOCTYPE html>
<html lang="{{request.locale_name}}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Learning to Drive by way of Autocross">
        <meta name="author" content="Jack Desert">
        <title>Driving with Jack</title>
        <link rel="shortcut icon" href="{{request.static_url('drive:static/pyramid-16x16.png')}}">

        <title>Cookiecutter Starter project for the Pyramid Web Framework</title>

        <link href="{{request.static_path('drive:static/bootstrap_4.1.2.css')}}" rel="stylesheet">
        <link href="{{request.static_path('drive:static/theme.css')}}" rel="stylesheet">

    </head>

    <body>


        <div class="container">
            <div class="row">
                <div class='col-12'>
                    <div class='banner'>Driving with Jack</div>
                </div>
            </div>

            <div class="row">
                {% block content %}
                <p>No content</p>
                {% endblock content %}
            </div>
            <div class="row">
                <div class='col-12'>
                    <div class="footer">
                        Copyright &copy; Jack Desert
                        sexycadaver@protonmail.ch
                    </div>
                </div>
            </div>
        </div>


    </body>
</html>
