[Unit]
Description=Driving
Wants=network.target
Wants=redis-server.service

[Service]
Type=simple
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/drive

ExecStart=/home/ubuntu/drive/env/bin/pserve production.ini

TimeoutSec=30
RestartSec=15s
Restart=always

[Install]
WantedBy=multi-user.target

